@font-face{
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-Regular.ttf');
}

pre {
    padding-left: 1.5rem;
    font-family: 'JetBrains Mono', monospace !important;
    font-size: 12pt;
}