@import de.htwg.se.set.controller.IController
@import de.htwg.se.set.model.GameMode

@(controller: IController, setController: SetController,gameOrSettings: String, state: String)

@main("SET Game") {
    <div class="menu">
        <a href="#" class="undo @if(controller.canUndo) { } else { disabled }">UNDO</a>
        <a href="#" class="redo @if(controller.canRedo) { } else { disabled }">REDO</a>
        @if(controller.settings.mode == GameMode.IN_GAME) {
            <a href="#" class="add-cards @if( (controller.game.columns < 6 || (controller.game.columns >= 6 && controller.game.deck.findSets(controller.game.tableCards).nonEmpty))) { } else { disabled }">ADD CARDS</a>
            <a href="#" class="exit">EXIT</a>
        }
    </div>
    <div class="main">
        @if(controller.settings.mode == GameMode.SETTINGS) {
            <div class="settings">
                <div class="row">
                    <div class="label">PLAYERS</div>
                    <div class="value">
                            <!-- Entfernen von Spielern (Pfeil nach links) -->
                        <a href="#" class="button-left highlight" id="remove-player" @if(controller.settings.playerCount > 1) { } else { class="disabled" }> @{"<"}</a>
                        <span id="player-count">@{controller.settings.playerCount}</span>
                        <a href="#" class="button-right highlight" id="add-player" @if(controller.settings.playerCount < 10) { } else { class="disabled" }> @{">"}</a>
                    </div>
                </div>
                <div class="row">
                    <div class="label">EASY MODE</div>
                    <div class="value">
                        <a href="#" class="mode-switch" style="margin-left: 3.4em">@if(controller.settings.easy) { ON } else { OFF }</a>
                    </div>
                </div>
                <div style="margin-top: 2em">
                    <a href="#" class="start-button">START GAME</a>
                </div>
            </div>
        } else {
            <div class="cards">
                @for((card, idx) <- controller.game.tableCards.zipWithIndex) {
                        <!-- Checkbox Input für das Auswählen der Karte -->
                    <input type="checkbox" id="card-@idx" class="card-checkbox">
                        <!-- Label wird mit dem Input verbunden und styled -->
                    <label for="card-@idx" class="card @if(card.selected) { selected }">
                        @Html(setController.ansiToHtml(card.toString))
                    </label>
                }
            </div>
        }
    </div>
    <div class="bottom">
        @if(controller.settings.mode == GameMode.SETTINGS) {
            <div class="rules">
                <a href="@routes.SetController.rules()">GAME RULES</a>
            </div>
        } else {
            <div class="player-selection">
            @for(i <- 1 to controller.settings.playerCount) {
                <a href="#" class="player-link @if(controller.game.selectedPlayer.exists(_.number == i)) { selected }">
            PLAYER @i: @controller.game.players(i - 1).sets.length
                </a>
            }
            </div>

            <div class="message">@controller.game.message</div>
        }
    </div>
}
